{{#each blogs as |blog|}}


  <section data-id="{{blog.id}}">
    <h3>
      {{blog.blog_name}},
      {{blog.content}},
    <button id='blogs-table'>Create Blog</button>
    <button class='all-blogs' data-blog="{{blog.id}}">Show Blogs</button>
  </h3>

  </section>
{{/each}}
